<html>
<head>
<meta charset="utf-8">
<style>
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
}

.topbar {
  display:flex;
  justify-content: space-between;
}
.topbar p { margin: 0; }

#sweep svg { cursor: default; /* show normal arrow cursor, even when over text */ }

.sweeperconfig ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
}
.sweeperconfig input[type=number] {
  width: 4em;
  text-align: right;
}
</style>
</head>
<body>

  <div id="sweep">
    <minefield></minefield>
  </div>

  <script type="text/x-template" id="minefield-template">
    <div style="display:flex;justify-content:center">
      <div>
        <div class="topbar">
          <p>{{ cells.filter(c => c.is_bomb).length - cells.filter(c => c.is_flagged).length }} mines remain</p>
          <p :style="(num_losses===0) ? 'visibility:hidden' : ''">{{ num_losses }} loss{{ (num_losses>1)?'es':'' }}</p>
          <p>{{ seconds }}</p>
          <button @click="reset">New</button>
        </div>
        <svg :width="width" :height="height">
          <square
            v-for="cell in cells" :key="cell.idx"
            :cell="cell"
            :col="cell.idx % num_cols"
            :row="Math.floor(cell.idx / num_cols)"
            :cell_px="cell_px"
            @handle-leftclick="onLeftClick"
            @handle-middleclick="onMiddleClick"
            @handle-rightclick="onRightClick">
          </square>
        </svg>
        <p class="sweeperconfig">
          Assistant config:
          <ul>
            <li><input type="checkbox" @change="solveAll" v-model="autosolver_zero"/>Auto-clear around zero</li>
            <li><input type="checkbox" @change="solveAll" v-model="autosolver_enough_flags"/>Auto-clear around an open cell that neighbors enough flags</li>
            <li><input type="checkbox" @change="solveAll" v-model="autosolver_enough_open"/>Auto-flag around an open cell when all remaining neighbors must be mines</li>
            <li><input type="number" v-model.number="solver_delay_ms"></input>ms auto-solver delay</li>
          </ul>
        </p>
        <p class="sweeperconfig">
          Field config:
          <ul>
            <li><input type="number" v-model.number="num_cols" @change="reset"></input> cols ✕
            <input type="number" v-model.number="num_rows" @change="reset"></input> rows</li>
            <li><input type="number" v-model.number="num_bombs" @change="reset"></input> bombs
            ({{ (num_bombs / (num_cols*num_rows) * 100).toFixed(0) }}% of cells)</li>
            <li><input type="number" v-model.number="num_prerevealed" @change="reset"></input> pre-revealed cells</li>
            <li><input type="number" v-model.number="cell_px"></input>px cell size</li>
          </ul>
        </p>
        <p>Left-click opens, right-click flags, middle-click auto-solves neighbors.</p>
      </div>
    </div>
  </script>
  
  <script type="text/x-template" id="square-template">
    <g :transform="transform"
      @click.left.prevent="$emit('handle-leftclick', cell.idx)"
      @click.middle.prevent="$emit('handle-middleclick', cell.idx)"
      @click.right.prevent="$emit('handle-rightclick', cell.idx)">
      <rect :width="cell_px*0.9" :height="cell_px*0.9" :fill="bgColor"/>
      <text dominant-baseline="middle" text-anchor="middle" 
        :x="cell_px/2" :y="cell_px/2"
        :style="{ fill: textColor }">
        {{ cell.is_bomb ? 'M' : cell.num_neighboring_bombs}}
      </text>
    </g>
  </script>

  <script src="https://unpkg.com/vue@2.6.11"></script>
  <script src="script.js"></script>
</body>
</html>
